// Dark colors
$bg0: #1c1c1c;
$bg1: #2a2a2a;
$bg2: #d5c4a1;
$bg3: #bdae93;
$bg4: #a89984;

// Foreground
$fg0: #d0d0d0;
$fg1: #3c3836;
$fg2: #504945;
$fg3: #665c54;
$fg4: #7c6f64;

// Colors
$red: #9d0006;
$green: #79740e;
$yellow: #b57614;
$blue: #006DFF;
$purple: #8f3f71;
$aqua: #427b58;
$orange: #af3a03;
$gray: #928374;

$light-red: #cc2412;
$light-green: #98971a;
$light-yellow: #d79921;
$light-blue: #458598;
$light-purple: #b16286;
$light-aqua: #689d6a;
$light-orange: #d65d0e;
$light-gray: #7c6f64;

